<h1>Account Details Page</h1>
<p><strong>Name: </strong><%= @user.name %></p>
<p><strong>Email address: </strong><%= @user.email %></p>
<%= link_to "Edit", edit_user_path(@user.id), id: 'edit-user'%> |
<%= link_to "Delete", user_path(current_user.id), method: :delete, data: { confirm: 'Voulez vous supprimez cet utilisateur ?'}, id: 'destroy-user'%>
